@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500&family=Bellefair&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Barlow: 'Barlow Condensed', sans-serif;
    --Bellefair: 'Bellefair', serif;

}

body {
    background-image: url(/Technology/technology/background-technology-desktop.jpg);
    height: 100%;
}

/* Nav */

.nav-bar {
    margin:  0 0 0 auto;
    max-width: 95%;
    /* width: min(90%, 90.5rem); */
    margin-top: 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
}

.logo {
    color: #fff;
}

.nav-line {
    /* height: 5px;
    width: 300px; */
    padding: .5px 260px;
    background-color: #9a9a9a;   
    backdrop-filter: blur(1px);
    position: absolute;
    left: 150px;
    z-index: 999;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    background-color: transparent;
    font-family: var(--Barlow);
    text-transform: uppercase;
}

.right-nav-h1 {
    font-family: var(--Barlow);
    font-weight: bold;
    padding-right: .9rem;
    font-size: 1rem;
}

.right-nav-items h2 {
    font-weight: 100;
    font-size: 1rem;
}

.right-nav-items a{
    display: flex;
    padding-left: 2rem;
    text-decoration: none;
    color: #fff;
}

.right-nav-items a:hover {
    border-bottom: 5px solid #fff;
    padding-bottom: 1rem;
}

/* .mobile-active {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    width: 60%;
    height: 100%;
} */

.mobile-nav {
    display: none;
}

/* Tech Header */

.header {
    margin-top: 7rem;
}

.header-container {
    width: 100%;
}

.launch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.launch-btn {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 8rem;
}

.launch-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

.terminology {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    color: #fff;
    margin-bottom: 3rem;
    max-width: 470px;
}

.terminology > h3 {
    font-family: var(--Barlow);
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.terminology > h1 {
    margin-bottom: 1rem;
    font-family: var(--Bellefair);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3rem;
}

.terminology > p {
    font-family: var(--Barlow);
    line-height: 32px;
    font-size: 1rem;

}

.lauch-img img {
    max-width: 400px;
}